@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizzing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background-color: #fff;
  --color-text: #a1a1aa;
  --color-secondary: #ea580c;
  --background-card: #262626;
  --background-color-dark: #000000;
  --color-text-dark: #fff;
  --color-secondary-dark: #d97706; 
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color) ;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-dark) ;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary);
}

body {
  background-color: var(--background-color);
  color: var(--color-text);
  transition: background 0.2s linear;
}

/* Modo dark */
body.dark {
  background: var(--background-color-dark);
  color: var(--color-text);
}

.dark-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 50px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
  transform: scale(1.1);
}

.ball {
  background-color: var(--background-color);
  border-radius: 50%;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 6px;
  left: 2px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(36px);
}

.fa-moon {
  color: #f1c40f;
  width: 25px;
}

.fa-sun {
  color: #f39c12;
  width: 16px;
}

/* Main */
.container-1 {
  display: flex;
  justify-content: space-evenly;
}

.titulo-inicio {
  font-size: 42px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
}

.paragrafo-desenvolvedor {
  color: var(--color-secondary);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.img-perfil {
  display: flex;
  justify-content: center;
}

.img-1 {
  width: 500px;
  height: 500px;
  margin-top: 70px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.img-1:hover {
  transition: 0.5s;
}

.btn-1 {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  border: 3px solid var(--color-text-dark);
  border-radius: 50px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
  margin: 0 15px;
}

.btn-2 {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  border: 3px solid var(--color-text-dark);
  border-radius: 50px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
}

.btn-1:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
  transform: scale(1.1);
}

.btn-2:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
  transform: scale(1.1);
}

/* Container-sobre-mim */
.section-sobre-mim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sobre-mim {
  margin-top: 200px;
}

.sobre-titulo {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 40px;
}

.sobre-imagem-texto {
  display: flex;
  justify-content: space-evenly;
}

.sobre-titulo {
  color: var(--color-secondary);
}

.texto-sobre-mim{
  color: var(--color-text);
  margin-top: 50px;
  width: 45%;
  font-size: 22px;
}

.minha-foto {
  width: 300px;
}

/*  Curriculo */
.section-curriculo {
  margin-top: 150px;
}

.container-curriculo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.titulo-curriculo {
  color: var(--color-secondary);
}

.btn-cv {
  width: 200px;
  height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
  border-radius: 30px;
  box-shadow: 1px 1px 2px 2px var(--color-text-dark);
  font-size: 1rem;
  cursor: pointer;
  margin-top: 50px;
}

.btn-cv:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-text-dark);
}

.titulo-curriculo {
  text-align: center;
  font-size: 40px;
}

/* cards-habilidades */
.habilidades {
  margin-top: 250px;
}

.titulo-habilidades {
  display: flex;
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
}

.habilidades-cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  margin-top: 100px;
}

.img-card {
  width: 120px;
  margin-top: 20px;
  margin-left: 10px;
}

.img-card-js {
  margin-top: 10px;
  margin-left: 10px;
}

.titulo-habilidades {
  color: vaR(--color-secondary);
}

.card-habilidades {
  width: 140px;
  margin-left: 30px;
  background-color: var(--background-card);
  border: 3px solid var(--color-secondary);
  border-radius: 20px;
}

.card-habilidades:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--color-secondary);
  background-color: var(--background-color-dark);
  transform: scale(1.05);
}

/* cards-projetos */
.container-projetos {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 50px;
}

.titulo-projetos {
  display: flex;
  justify-content: center;
  color:var(--color-secondary);
  margin-top: 250px;
  font-size: 40px;
}

.titulo-do-projeto {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--color-text-dark);
  margin-top: 10px;
}

.card-projeto {
  width: 400px;
  height: 350px;
  border-radius: 50px;
  margin-top: 30px;
  background-color: var(--background-card);
  border: 3px solid var(--color-secondary);
  margin-left: 30px;
}

.card-projeto:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--color-secondary);
  background-color: var(--background-color-dark);
  border: 1px solid var(--color-text-dark);
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-projeto-1 {
  width: 300px;
  height: 200px;
  margin-top: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-projeto {
  width: 220px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  background: var(--color-secondary);
  color: var(--color-text-dark);
  cursor: pointer;
  border: 3px solid var(--color-text-dark);
  align-items: center;
}

.btn-projeto:hover {
  background: var(--color-secondary-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-text-dark);
}

/* Contatos */
.container-contatos {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.titulo-contatos {
  display: flex;
  justify-content: center;
  color:var(--color-secondary);
  text-align: center;
  font-size: 40px;
  margin-top: 250px;
}

.img-mobile-container {
  display: flex;
  justify-content: center;
}

.img-contatos {
  width: 400px;
  height: 400px;
  margin-top: 30px;
}

.buttons-contatos {
  display: flex;
  justify-content: space-center;
}

.btn-contatos {
  width: 220px;
  height: 50px;
  cursor: pointer;
  margin: 0 20px;
  border-radius: 10px;
  background-color: var(--color-secondary);
  border: 3px solid var(--color-text-dark);
  color: var(--color-text-dark);
  font-weight: 600;
  font-size: 1rem;
}

.btn-contatos:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--color-secondary);
  background-color: var(--color-secondary-dark);
  color: var(--color-text-secondary);
  border: 2px solid var(--color-text-dark);
}

/* Footer */
.container-footer {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.container-menu {
  display: flex;
  justify-content: center;
}

.ul-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  padding: 10px;
}

.links {
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.4rem;
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}

.links:hover {
  transform: scale(1.1);
}

.titulo-footer {
  font-size: 18px;
  color: var(--color-secondary);
  text-align: center;
  margin-top: 50px;
}

.icons-footer {
  display: flex;
  justify-content: center;
}

/* Smartphone */
@media screen and (max-width: 768px) {
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    transform: scale(1.1);
    margin-top: 30px;
  }

  .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 6px;
    left: 2px;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(36px);
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-1 {
    width: 300px;
    height: 300px;
    margin-top: 10px;
  }

  .sobre-imagem-texto {
    display: block;
  }

  .container-minha-foto {
    display: grid;
    justify-content: center;
    margin-top: 30px;
  }

  .minh-foto {
    width: 300px;
  }

  .texto-sobre-mim {
    width: 90%;
    margin-left: 20px;
  }

  .titulo-habilidades {
    text-align: center;
  }

  .habilidades-cards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .card-habilidades {
    margin-top: 20px;
  }

  .container-projetos {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .card-projeto {
    display: grid;
    justify-content: center;
  }

  .card-projeto {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .img-projeto-1 {
    width: 200px;
    height: 100px;
  }

  .btn-projeto {
    width: 200px;
    height: 30px;
    cursor: pointer;
  }

  .container-contatos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img-contatos {
    width: 300px;
    height: 300px;
  }

  .buttons-contatos {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn-contatos {
    width: 200px;
    height: 50px;
    margin-top: 20px;
  }

  .titulo-contatos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
}

/* Tablete */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  }

  .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 6px;
    left: 2px;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(36px);
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-2 {
    display: flex;
    justify-content: center;
  }

  .sobre-imagem-texto {
    display: block;
  }

  .container-minha-foto {
    display: grid;
    justify-content: center;
    margin-top: 30px;
  }

  .minh-foto {
    margin: auto;
    width: 300px;
  }

  .texto-sobre-mim {
    width: 90%;
    margin-left: 20px;
  }

  .titulo-habilidades {
    text-align: center;
  }

  .habilidades-cards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .card-habilidades {
    margin-top: 40px;
  }

  .container-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-projeto {
    display: grid;
    justify-content: center;
  }

  .card-projeto {
    width: 300px;
    height: 300px;
    margin-top: 30px;
  }

  .img-projeto-1 {
    width: 200px;
    height: 100px;
  }

  .btn-projeto {
    width: 200px;
    height: 30px;
    cursor: pointer;
  }

  .container-contatos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-contatos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .titulo-contatos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .buttons-contatos {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn-contatos {
    margin-top: 20px;
  }
}