@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizzing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ede9fe;
  color: #000000;
  transition: background 0.2s linear;
}

body.dark {
  background: #1c1917;
  color: #fff;
}

/* Header */
#header {
  border-bottom: 1px solid #6d28d9;
  height: 56px;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  aligns-items: center;
}

.logo-titulo {
  font-size: 1.3rem;
  color: #9333ea;
  margin-top: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.container-links {
  align-items: center;
}

.links {
  text-decoration: none;
  padding: 40px;
  color: #9333ea;
}

.links:hover {
  transform: scale(1.1);
}

/* #menu {
  display: none;
} */

#btn-mobile {
  display: none;
}

/* Modo dark */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background: #111;
  border-radius: 50px;
  width: 50px;
  height
  cursor: pointer;
  /* margin-top: 30px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: scale(1.5);
  padding: 3px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  cursor: pointer;
  height: 22px;
  width: 25px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(35px);
}

.fa-moon {
  color: #f1c40f;
  width: 25px;
}

.fa-sun {
  color: #f39c12;
  width: 16px;
}

/* Main */
.container-1 {
  display: flex;
  justify-content: space-evenly;
}

.titulo-inicio {
  font-size: 42px;
  font-weight: 700;
  margin-top: 200px;
  text-align: center;
}

.paragrafo-desenvolvedor {
  color: #9333ea;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  /* margin-left:0px; */
  margin-top: 10px;
}

.titulo-inicio,
.paragrafo-desenvolvedor,
.minha-foto,
.titulo-sobre-mim,
.texto-sobre-mim {
  visibility: hidden;
}

.img-perfil {
  display: flex;
  justify-content: center;
}

.img-1 {
  width: 500px;
  height: 500px;
  margin-top: 70px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.img-1:hover {
  transition: 0.5s;
}

.btn-1 {
  background-color: #fff;
  color: #000;
  border: 3px solid #9333ea;
  border-radius: 50px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
  margin: 0 15px;
}

.btn-2 {
  background-color: #fff;
  color: #000;
  border: 3px solid #9333ea;
  border-radius: 50px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
}

.btn-1,
.btn-2 {
  visibility: hidden;
}

.btn-1:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #6d28d9;
  transform: scale(1.1);
}

.btn-2:hover {
  background-color: #000000;
  color: #fff;
  border: 1px solid #6d28d9;
  transform: scale(1.1);
}

.container-2 {
  margin-top: 200px;
}

.container-sobre-mim {
  display: flex;
  justify-content: center;
}

.titulo-sobre-mim {
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

.texto-sobre-mim {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  font-size: 20px;
}

.container-minha-foto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.minha-foto {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  /* border-radius: 150px; */
  margin-bottom: 150px;
}

/*  Curriculo */
.container-curriculo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-cv {
  width: 200px;
  height: 50px;
  background-color: #fff;
  color: #000;
  border: 1px solid #6d28d9;
  box-shadow: 1px 1px 2px 2px #6d28d9;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.btn-cv:hover {
  background-color: #000;
  color: #fff;
}

.titulo-curriculo {
  text-align: center;
}

/* cards-habilidades */
.container-habilidades {
  /* height: 100vh; */
  margin-top: 250px;
}

.titulo-habilidades {
  display: flex;
  margin-top: 30px;
  font-weight: 700;
  justify-content: center;
}

.habilidades-cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  margin-top: 100px;
}

.img-card {
  width: 120px;
  margin-top: 20px;
  margin-left: 10px;
}

.img-card-js {
  margin-top: 10px;
  margin-left: 10px;
}

.card-habilidades {
  width: 140px;
  margin-left: 30px;
  border: 2px solid #9333ea;
  box-shadow: 4px 2px 2px 2px #6d28d9;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.card-habilidades:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #6d28d9;
  background-color: #000;
  transform: scale(1.05);
}

.container-habilidades,
.titulo-habilidades,
.card-habilidades,
.container-contatos {
  visibility: hidden;
}

/* cards-projetos */

.container-4 {
  /* height: 100px; */
}

.container-projetos {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 150px;
}

.titulo-projetos {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.titulo-do-projeto {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.card-projeto {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  background-color: #171717;
  border: 1px solid #fff;
  margin-left: 30px;
}

.card-projeto,
.titulo-do-projeto {
  visibility: hidden;
}
.card-projeto:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #6d28d9;
  background-color: #6d28d9;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-projeto-1 {
  width: 200px;
  height: 100px;
  margin-top: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-projeto {
  width: 220px;
  height: 30px;
  font-size: 16px;
  background: #9333ea;
  color: #fff;
  cursor: pointer;
  border: 3px solid #fff;
  align-items: center;
}

.btn-projeto:hover {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

/* Contatos */
.container-contatos {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.titulo-contatos {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 250px;
}

.img-mobile-container {
  display: flex;
  justify-content: center;
}

.img-contatos {
  width: 400px;
  height: 400px;
  margin-top: 30px;
}

.buttons-contatos {
  display: flex;
  justify-content: space-center;
}

.btn-contatos {
  width: 220px;
  height: 50px;
  cursor: pointer;
  margin: 0 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #6d28d9;
  color: #111;
  font-weight: 600;
  font-size: 1rem;
}

.btn-contatos:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #6d28d9;
  background-color: #111;
  color: #fff;
  border: 2px solid #fff;
}

.btn-numero {
  width: 220px;
  height: 50px;
  cursor: pointer;
  border-radius: 40px;
  border: 1px solid #111;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  background-color: #9333ea;
}

.btn-numero:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px #6d28d9;
  background-color: #111;
  border: 2px solid #fff;
}

/* Footer */
.container-footer {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.titulo-footer {
  font-size: 18px;
  color: #9333ea;
  text-align: center;
}

.icons-footer {
  display: flex;
  justify-content: center;
}

/* Smartphone */
@media screen and (max-width: 767px) {
  #menu {
    /* display: none; */
    display: block;
    position: absolute;
    width: 100%;
    /* background: ; */
    transition: .6s;
    z-index: 1000;
    top: 70px;
    right: 0;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu .links {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
  }

  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburguer {
    border-top: 2px solid;
    width: 20px;
    color: #9333ea;

  }

  #hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #9333ea;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
   transform: rotate(135deg);
  }

  #nav.active #hamburguer::after {
   transform: rotate(-135deg);
   top: -7px;
  }

  .container-links {
    align-items: center;
  }

  .label {
    display: flex;
    margin-top: 30px;
    align-items:center;
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-1 {
    margin-top: 10px;
  }

  .container-sobre-mim {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .texto-sobre-mim {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .minha-foto {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }

  .titulo-habilidades {
    text-align: center;
  }

  .habilidades-cards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .card-habilidades {
    margin-top: 20px;
  }

  .container-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-projeto {
    margin-top: 30px;
  }

  .container-contatos {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .buttons-contatos {
    margin-top: 30px;
  }

  .titulo-contatos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
}

/* Tablete */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    display: none;
  }

  .logo {
    display: none;
  }

  .ul-1 {
    display: none;
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-2 {
    display: flex;
    justify-content: center;
  }

  .titulo-sobre-mim {
    display: flex;
    justify-content: center;
  }

  .container-2 {
    display: block;
  }

  .container-sobre-mim {
    display: flex;
    flex-direction: column;
  }

  .texto-sobre-mim {
    text-align: center;
  }

  .container-minha-foto {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .titulo-habilidades {
    text-align: center;
  }

  .habilidades-cards {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .card-habilidades {
    margin-top: 40px;
  }

  .container-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card-projeto {
    margin-top: 30px;
  }

  .container-contatos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulo-contatos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }
}
